<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Reply Notification</title>
</head>
<body>
    <h1>Hello <%= name %>,</h1>
    <p>you got a new reply on your video <%= title %></p>
    <p>please login to our website to view/continue discussion</p>
    <p>Thank you being part our community</p>
</body>
</html>